.select-type {
  display: flex;
  justify-content: space-around;
}

.submit-task {
  margin-top: 8px;
  display: flex;
  flex-direction: row-reverse;
}

.add-interest {
  margin-top: 8px;
  padding: 9px;
}